
#projects {
  padding: 50px 0;
  background-color: #ecf0f1;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Pour que le bouton reste en bas */
  height: 100%; /* S'assure que toutes les cartes ont la même hauteur */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px); /* Animation vers le haut au survol */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-image {
  height: 200px;
  object-fit: cover;
  border-bottom: 2px solid #e67e22;
}

.project-description {
  color: #34495e;
  margin-bottom: auto;
}

.btn-primary {
  background-color: #e67e22;
  border: none;
  margin-top: 10px;
  padding: 10px 20px; /* Agrandir les boutons */
  border-radius: 50px; /* Arrondir les coins */
  font-weight: bold; /* Rendre le texte plus visible */
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.btn-primary:hover {
  background-color: #d35400;
  transform: scale(1.05); /* Légère mise en avant au survol */
}

