#about {
    padding: 50px 0;
    background-color: #E5DCCE; 
  }
  
  #about h2 {
    padding: 20px;
    color: #36302A;
  }
  
  #about p {
    padding: 20px;
    font-size: 1.2rem;
    line-height: 2.5;
  }
  