#contact {
    padding: 50px 0;
    background-color: #fff;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .contact-form input, .contact-form textarea {
    border: 1px solid #F6F3EC;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
  
  .contact-form button {
    background-color: #B9A590;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #574C3F;
  }
  /* Centrer le conteneur du formulaire */
.contact-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color:#F6F3EC;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Moderniser le formulaire */
.contact-form .small-input {
  font-size: 0.875rem;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  transition: all 0.3s ease;
}

.contact-form .small-input:focus {
  border-color: #22292f;
  box-shadow: 0 0 5px rgba(32, 35, 37, 0.5);
}

/* Bouton moderne */
.btn-primary {
  background-color: #36404b;
  border: none;
  padding: 12px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #2e343a;
}

/* Styles pour les icônes centrées */
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icon-link {
  color: #333;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.icon-link:hover {
  color: #6e4b29;
}

/* Cacher les soulignements */
.icon-link:hover,
.icon-link:focus {
  text-decoration: none;
}
