.navbar {
  background-color: transparent;
  transition: background-color 0.5s ease, padding 0.5s ease;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navbar .logo {
  width: 200px;
  height: 200px;
  margin-right: 20px; /* Add margin to the right of the logo */
}

.navbar.scrolled {
  background-color: #ECE4DA; 
  padding: 5px 20px;
}

.navbar.scrolled .logo {
  width: 60px;
  height: 50px;
}

.navbar-nav {
  margin-left: auto; /* Aligns nav items to the right */
}

.navbar-nav .nav-link {
  color: #024155; 
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #3f240a;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center; /* Center links in mobile view */
  }

  .navbar-collapse {
    margin-top: 10px; /* Space between the logo and the collapsible menu */
  }
}
