body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2dcb8;
  color: #2c2c2c;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  min-width: 320px;
}


/* Ajout d’un espace en haut pour la navbar uniquement en desktop */
@media (min-width: 768px) {
  body {
    padding-top: 80px; /* ajuste selon la hauteur réelle de ta navbar */
  }
}

